<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.visited.visited.mapper.VisitMapper">
    <insert id="saveVisit" parameterType="com.visited.visited.model.entity.Visit">
        INSERT INTO visited (id, board_id, date) VALUES (null, #{boardId},#{createAt})
    </insert>
</mapper>